<section class="section-about-trainer">
        <div class="row">
            <div class="col span-1-of-2"></div>
            <div class="col span-1-of-2">
                <h3 style="text-align: center;color: #fff;margin-bottom: 20px;"><u>About me</u></h3>
                <p>Alright guys! Love me or hate me for what I am going to say. As they say, I am going to speak the truth and nothing apart the truth. 
                </p>

                <p>There may a good chance you may already know me. If you don't, here I am. A veteran in the SFDC community and ex-engineer at Salesforce.com. Having spoken at a lot of meet-ups and conferences does make me an evangelist of salesforce.com. An evangelist of anything I believe by birth and having coded 100+ prototypes, gives me enough credidibility to at least train people on this kickass platform.</p>

                <p>
                Well, my students say I am good at teaching SFDC, but you are the best judge.  Let me be honest, if you want to know if you can excel in becoming a Salesforce.com specialist see if you like the demo link I have attached. Only and only if you want to be a specialist. 
                </p>        
                <p>
                    Let's be honest guys, this place is all about code, code and code. If you are expecting effortless efforts,boring PPT’s and dont want to go through previously written code, wait up. 
                </p>
                <p>
                    This may be the only site where each and every functionality is coded on air.
                </p>
                <p>
                    I can go on and on about the awesomeness of salesforce casts, but I better let you experience it.
                </p>
                <p>
                    Do share the feedback. It will only help me :)
                </p>
                <p>
                    Happy Hacking. I ve got your back, mate! 
                </p>
                <p>
                    Cheers,
                </p>
                <p>
                    Just call me KT
                </p>
            </div>    
        </div>
        
        
    </section>