
<section class="section-fs-inner">
        
        <div class="row">
            <h2>Series</h2>
        </div>
        

        <div class="row">

            <% @series.each do |series| %>

            <div class="col span-1-of-4 box">
                <div class="recent-series">

                    <img src="<%= series.series_banner %>">
                    <div class="search-series-icard">
                        <div class="skill-lvl-count">
        
                            <p class="skill-level"><%= series.difficulty %></p>
                            <p class="video-count">
        
                                <span><%= series.no_of_lessons %></span>
                                <span class="video-key-word">videos</span>
                            </p>
                        </div>
                        <div class="series-title">
        
                            <%= link_to series.title,series_path(series) %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
            
            
        </div>

    </section>
     
        
        <% if false %>

             <tr>
            <td><%= series.id %></td>
            <td><%= series.description %></td>
            <td>
                <%= series.publish == true ? 'published' : 'un-published' %>
                
                    
            </td>
            
            <td><%= series.trailer %></td>
            <td><%= link_to "#{series.rent_price} $ for rent", new_series_order_path(series) %></a></td>
            <td><%= link_to "#{series.buyout_price} $ for life-time access",new_series_order_path(series)  %></a></td>


            <% if current_user.admin? -%>
                <td><%= link_to 'edit', edit_series_path(series) %></td>
                <td><%= link_to 'delete', series,method: :delete, data: { confirm: 'Are you sure?' } %></td>
                
                <% if series.publish == true%>
                    <td><%= link_to 'un-publish', unpublish_series_path(series), method: :post %></td>
                <% else %>    
                    <td><%= link_to 'publish', publish_series_path(series), method: :post %></td>
                <% end %>
                <td><%= link_to 'add episode', new_series_episode_path(series) %></td>
            <% end %>
        

      </tr>
    <% end %>






