
<%= render 'series/innerpages_header' %>
<section class="section-payment-page">
  
<div class="row">




<%=   form_for @order, url: {action: "create"} do |f| %>



    <h2>Purchase</h2>
  
  <h1><%= @series.title %> ~ 
  <strong><%= @order.buy_or_rent.to_s == "rent"  ? @series.rent_price : @series.buyout_price %> $</strong></h1>


  <% if @order.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@order.errors.count, "error") %> prevented this post from saving:</h2>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :card_type %><br />
    <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
  </p>
<p>
    <%= f.label :card_number %><br />
    <%= f.text_field :card_number %>
  </p>
  <p>
    <%= f.label :card_verification, "Card Verification Value (CVV)" %><br />
    <%= f.text_field :card_verification %>
  </p>
  <p>
    <%= f.label :card_expires_on %><br />
    <%= f.date_select :card_expires_on, :discard_day => true, :add_month_numbers => true, :start_year => Date.today.year, :end_year => (Date.today.year+10)%>
  </p>
  <p>
    <%= f.hidden_field :buy_or_rent %>
  </p>
  <p><%= f.submit "Purchase",class: 'btn btn-full'%></p>
<% end %>
</div>
  

</section>

<%= render 'series/footer' %>


