.section-details{
	margin-top: 70px;
	padding: 25px 0px;
    background-color: #e67e22;
    /*border-radius: 3px;*/
    
}
/*.series-t-n-d{
	margin-bottom: 20px !important;
}*/
.series-details h1{
	color: #fff;
	border-bottom: 10px;

	/*padding-top: 50px;*/

}
.series-details p{
	color: #fff;
	text-align: justify;
	font-weight: 100;

}
.series-trailer{
	
    padding-top: 25px;

}
.series-episodes{
    background-color: #F5F5F1;
    
}

.episodes-grid{
	width: 90%;
	margin: auto;
}

.episodes-grid-ul{
	list-style: none;
}
.episodes-grid-ul .sno{
	text-align: right;
	margin: 0;
}
.episodes-grid-ul .episode-title{
	text-align: left;
	margin: 0;
	padding-left: 10px;
}
.episodes-grid-ul .episode-duration{
	text-align: left;
	margin: 0;
}
.episodes-grid-ul li{
	padding: 30px 0;	
	background-color: #fff !important;
	/*margin-top: -10px;*/
	border-bottom: 1px solid #f3f3f3;
	
}
.episodes-grid-ul li:after{content:" ";display:block;height:20px}
.episodes-grid-ul li:nth-child(1){
	border-top: 1px solid #f3f3f3;
}
.episodes-grid-ul li:last-child{
	border-bottom: 1px solid #f3f3f3;

}
.episodes-grid-ul li:hover,.episodes-grid-ul li:active{
	background-color: #f2f2f2 !important;
	/*color: #e67e22 !important;*/
	font-weight: 400;
	
}
.episode-title a:link,.episode-title a:visited{	
	
	text-decoration: none;
	color: #555;
}
.episode-title a:hover,.episode-title a:active{	
	text-decoration: none;
	color: #e67e22 !important;
	
}
.series-t-n-d{
	/*padding-bottom: 48px !important;*/
}
.purchase-buttons{
	text-align: center;
}
.btn-full-orange:link,
.btn-full-orange:visited {
	margin-left: 18px;
    color: #fff;
    background-color: #e67e22;
    border: 2px solid #fff;
}
.btn-full-orange:hover,
.btn-full-orange:active {
    background-color: #cf6d17;
}