<%= render 'innerpages_header' %>




        <% if false %>
            <% if current_user.admin? -%>
              
              <td><%= link_to 'edit',edit_series_episode_path(@series,episode) %></td>
              <td><%= link_to 'delete',[@series,episode],method: :delete, data: { confirm: 'Are you sure?' } %></td>
            	
            
          <% end -%>
     	<% end -%>



  <section class="section-details">
        <div class="row">
            <div class="series-details">
                <div class="col span-4-of-12 series-trailer">
                    

                    <iframe src="<%= @series.trailer%>" width="350" height="275" frameborder="0" scrolling="auto" allowfullscreen></iframe>
                    <!-- <td> episode.episode_video </td> -->

                </div>
                <div class="col span-8-of-12 series-t-n-d">
                    <h1><%= @series.title %></h1>
                    <p><%= @series.description.html_safe %></p>
                </div>
                
                <div class="purchase-buttons col span-2-of-2">
                    <%= link_to "#{@series.rent_price} $ / 3 months rent", rent_series_orders_path(@series), class: 'btn btn-full-orange' %>
                    <%= link_to "#{@series.buyout_price} $ / life time access", buy_series_orders_path(@series), class: 'btn btn-full-orange' %>
               
                </div>
               
            </div>
            
            
        </div>
    </section>



     <section class="series-episodes">

        <div class="row">
            <h2>Episodes</h2>
        </div>
        <div class="row">
            <div class="episodes-grid">
            
        <% @episodes.each do |episode| %>

                <ul class="episodes-grid-ul">



                    <li>

                        <div class="col span-1-of-12 sno">
                            <%= episode.episode_order %>
                        </div>
                        <div class="col span-10-of-12 episode-title">
        
                            <a href="episode.html"><%= link_to episode.episode_title,series_episode_path(@series,episode) %></a>
                            <!-- <td> episode.episode_type </td> -->

                        </div>
                        <div class="col span-1-of-12 episode-duration">
                            <%= episode.episode_duration %>
                        </div>

                    </li>



       
                </ul>
    <% end %>
            </div>

        </div>

    </section>
<%= render 'footer' %>
