<%= tinymce_assets %>


<%= form_for @series do |f| %>
	<% if @series.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@series.errors.count, "error") %> prevented this post from saving:</h2>
			<ul>
				<% @series.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= f.label :title %>
	<%= f.text_field :title %><br>
	<br>
	<%= f.label :description %>
	<%= f.text_area :description, :class => "tinymce", :rows => 10, :cols => 20  %>
	<%= tinymce %><br><br>
	<%= f.label :no_of_lessons %>
	<%= f.text_field :no_of_lessons %><br>
	<br>
	<%= f.label :series_banner %>
	<%= f.text_field :series_banner %><br>
	<br>
	<%= f.label :difficulty %>
	

	<%= f.select :difficulty, options_for_select([['Basic', 'Basic'], 
                                                     ['Intermediate', 'Intermediate'], 
                                                     ['Advanced', 'Advanced']
                                                     ]) %>

	
	<br>
	<%= f.label :trailer %>
	<%= f.text_area :trailer %><br>
	<br>
	
	<%= f.label :rent_price %>
	<%= f.text_field :rent_price %><br>
	<br>
	<%= f.label :buyout_price %>
	<%= f.text_field :buyout_price %><br>
	<br>
	<%= f.submit %>
<% end %>