
<hr class="login-sticky-line">


<%= render 'series/innerpages_header' %>


  <section class="section-login"> 
    <div class="row">
      <p class="section-login-logo"> Sign In</p>
                

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, placeholder: 'Email Address' %>

    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>



    <%= f.submit "Log in" %>
    <p><%= link_to 'Forgot Password?', new_password_path(resource_name) %></p>

<% end %>
<% if false %>

      <p class="singup-link">Don't have an account? &nbsp; <%= link_to 'Sign Up', new_user_registration_path %></p>


  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>


<%= render "devise/shared/links" %>
<% end %>



        
    </div>
    
  </section>