

<%= render 'series/innerpages_header' %>



<section class="section-payment-page">
  
<div class="row">
<table >
  
  <tr>
    <td>Title</td>
    <td><%= @order.first_name %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= @order.last_name %></td>
  </tr>

  
</table>
</div>
  

</section>
<%= render 'series/footer' %>
