<%= render 'innerpages_header' %>


<h1>Users</h1>

<table border="1">
	<tr>
		<th>Email</th>
		<th>Admin?</th>
		<th>Current Sign In at</th>
		<th>Last Sign In at</th>
		<th>Sign In count</th>
	</tr>


<% @users.each do |user| %>
<tr>
	
    <td><%= user.email %></td>  
    <td><%= user.admin %></td>  
    <td><%= user.current_sign_in_at %></td>  
    <td><%= user.last_sign_in_at %></td>  

    <td><%= user.sign_in_count %></td>  
	

</tr>
	
<% end %>

</table>
<%= render 'footer' %>

