<section class="search-inner">
        <div class="row">

<%= form_tag(search_series_index_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], class: "search-box" %>
  <%= submit_tag 'Search', class: "btn btn-full" %>
<% end %>


<% if false %>
<%= render 'series_filter' %>
		<% end %>

         
        </div>

    </section>
        