
<table border="1">
  
  <tr>
    <td>Title</td>
    <td><%= @series.title %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= @series.description %></td>
  </tr>
  <tr>
    <td>No of Lessons</td>
    <td><%= @series.no_of_lessons %></td>
  </tr>
  <tr>
    <td>Difficulty</td>
    <td><%= @series.difficulty %></td>
  </tr>
  <tr>
    <td>Trailer</td>
    <td><%= @series.trailer %></td>
  </tr>
  <tr>
    <td>Rent Price</td>
    <td><%= @series.rent_price %></td>
  </tr>
  <tr>
    <td>Buyout Price</td>
    <td><%= @series.buyout_price %></td>
  </tr>
</table>

<table style="width: 1100px;">
<% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.id %></td> 
        <td><%= episode.episode_order %></td>
        <td><td><%= link_to episode.episode_title,series_episode_path(@series,episode) %></td>
        <td><%= episode.episode_description %></td>
        <td><%= episode.episode_video %></td>
        <td><%= episode.tags %></td>
        <td><%= episode.episode_type %></td>
        <td><%= episode.episode_duration %></td>

        <% if current_user.admin? -%>
          
          <td><%= link_to 'edit',edit_series_episode_path(@series,episode) %></td>
          <td><%= link_to 'delete',[@series,episode],method: :delete, data: { confirm: 'Are you sure?' } %></td>
        	
        
     	<% end -%>

      </tr>
    <% end %>
</table>