<hr class="login-sticky-line">
<%= render 'series/innerpages_header' %>
<section class="section-login"> 
    <div class="row">
      <p class="section-login-logo"> Sign Up</p>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    
    <%= f.email_field :email, autofocus: true, placeholder: 'Email Address' %>

   
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>

 
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation' %>

    <%= f.submit "Sign up" %>

<% end %>


<% if false %>
      <p class="singup-link">Already have an account? &nbsp;<%= link_to 'Login',new_user_session_path %></p>

<%= render "devise/shared/links" %>
  
 <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
<% end -%>



     
      
        
    </div>
    
  </section>