/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus { /*OR .rest:focus*/
    outline:none;
}
html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.notice,.alert{
text-align: center;
    background-color: #26417E;
    color: #fff;
}
/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}
section {
    padding: 80px 0;
}
/* ----- HEADINGS ----- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}
/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

.header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./banner_background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./banner_background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 125%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.logo {
    float: left;
    margin-top: 40px;
    text-decoration: none;
    font-size: 150%;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff
}
/*.search{
    float: left;
}
.search input[type=text]{

        margin-top: 30px;
    padding: 15px 200px;
    border-radius: 100px;
    margin-left: 50px;
}
.search-icon{
        margin-left: -32px;
    vertical-align: middle;
}*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 47px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
}
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 3px;
    font-size: 80%;
}
.btn-full:link,
.btn-full:visited {
    color: #fff;
    background-color: #e67e22;
    border: 2px solid #e67e22;
}
.btn-full:hover,
.btn-full:active {
    background-color: #cf6d17;
    border: 2px solid #cf6d17;
}
.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
    border: 2px solid #e67e22;
}
.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
    background-color: #cf6d17;
}
/* ----------------------------------------------- */
/* SECTION ONE */
/* ----------------------------------------------- */

.section-fs {
    background-color: #f5f5f1;
}
.sec-title {
    font-size: 150%;
    margin-bottom: 30px;
    text-align: center;
    border: 3px solid #E7E4E4;
    padding: 20px 0;
    border-radius: 4px;
}
h2 {
    text-align: center;
    margin-bottom: 30px;
}
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.box {
    margin-right: 10px;
    margin-left: 0px;
}
.recent-series {
    padding-bottom: 30px;
}
.recent-series img {
    width: 100%;
    height: 237px;
    display: block;
}
.recent-series a:link,
.recent-series a:visited {
    text-decoration: none;
    color: #555;
    font-weight: 700;
    letter-spacing: .5px;
    width: 90%
}
.recent-series a:hover,
.recent-series a:active {
    color: #e67e22;
    transition: color 0.2s;
}
.recent-series span {
    font-size: 150%;
    margin-left: 5px;
}
.skill-level {
    float: left;
    margin-left: 10px;
    /*background-color: pink;*/
    
    padding-top: 10px
}
.recent-series-icard {
    padding-bottom: 20px;
    background-color: #fff;
    text-align: center;
    height: 125px;
}
.search-series-icard {
    padding-bottom: 20px;
    background-color: #F5F5F1;
    text-align: center;
    height: 125px;
}
.series-image:link,
.series-image:visisted,
.series-image:hover,
.series-image:active{
    text-decoration: none;
}
.video-count {
    text-align: right;
    margin-right: 10px;
}
.video-key-word {
    color: #DADADA;
    font-size: 80% !important;
}
.skill-lvl-count {
    margin-bottom: 10px;
}

/* ----------------------------------------------- */
/* SECTION TWO */
/* ----------------------------------------------- */


.testimonial-dp-right{
    text-align: right;
}
.testimonial-dp-left{
    text-align: left;
}
.testimonial-text-left{
    /*padding-top: 11px;*/
    text-align: justify;
    padding-right: 90px;
}
.testimonial-text-right{
    /*text-align: right;*/
    /*padding-top: 11px;*/
    text-align: justify;
    padding-left: 78px;
}

.testimonial-text-left p, .testimonial-text-right p{
    font-size: 90%;
}
.testimonial-dp img{
    width: 53px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #e67e22;
}
.testimonials-row{width: 60%;margin-bottom: 20px;}
/* ----------------------------------------------- */
/* SECTION THREE */
/* ----------------------------------------------- */
.section-about-trainer{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(./teja.jpg);
    background-size: cover;
    /*background-position: center;*/
    /*height: 100vh;*/
    /*background-attachment: fixed;*/
}
.section-about-trainer p{
    /*color: #e67e22;*/
    color: #fff;
    line-height: 150%;
    /*font-size: 100%;*/
    font-weight: 100;
    text-align: justify;
    margin-bottom: 20px;
}




/* ----------------------------------------------- */
/* Browse Page */
/* ----------------------------------------------- */



.logo-inner {
    color: #e67e22;
}
.main-nav-inner li a:link,
.main-nav-inner li a:visited {
    color: #e67e22;
    text-decoration: none;
}

.btn-ghost-inner:link,
.btn-ghost-inner:visited {
    border: 2px solid #e67e22;
}
.btn-ghost-inner:hover,
.btn-ghost-inner:active {
    color: #fff !important;
    background-color: #cf6d17;
}


.search-inner input[type=text]{

    width: 75%;
    border-radius: 4px;
    border: 3px solid #DFD8D8;
    padding: 15px 0;
}


.search-inner input[type=submit],.edit-account-submit input[type=submit],.forgot-password-submit input[type=submit],.callback-submit input[type=submit]{

    background-color: #e67e22; /* Green */
    border: 3px solid #e67e22;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}
.edit-account-submit input[type=submit],.forgot-password-submit input[type=submit],.callback-submit {
    padding: 4px 32px;

}

.search-inner input[type=submit]:hover{

    background-color: #cf6d17; /* Green */
    border: 3px solid #cf6d17;
    
    
}
.search-inner{
    text-align: center;
}
.section-fs-inner{
    background-color: #fff;
}

.filter_difficulty{
    text-align: left;
    padding-top: 10px;
    padding-left: 75px;
}
.filter_module{
    text-align: left;
    padding-top: 10px;
    padding-left: 75px;

}
.filter_published_when_form{
    text-align: left;
    padding-top: 10px;
    padding-left: 75px;

}

/* ----------------------------------------------- */
/* Episodes Page */
/* ----------------------------------------------- */

.episode-list{
    /*margin: 0 !important;*/
    overflow-y: auto;
    max-height: 470px;
}
.episode-details h3{

    color: #e67e22;
    padding: 20px 0;
    font-weight: 400;
}
.episode-details p{
    color: #555;
    text-align: justify;

}
.episode-list ul{
    display: block;
    list-style: none;
    margin-left: 0px;
    color: #555;
    border: 2px solid #f3f3f3;
}
.episode-list li{
    padding: 20px 10px;
    border-bottom: 2px solid #f3f3f3;

}
.episode-list li:hover,.episode-list li:active{
    background-color: #f2f2f2;
}
.episode-list span{
    color: #555;
    padding-right: 20px;
}
.episode-list a:link, .episode-list a:visited {
    text-decoration: none !important;
    color: #555 !important;
    /*padding-bottom: 50px;*/

}

.episode-list a:hover, .episode-list a:active {
    color: #e67e22 !important;
}

.episode-t-n-d{
    width: 100%;
    text-align: justify;
}
.episode-details a:link,.episode-details a:visited{
    text-decoration: none; 
    color: #e67e22;

}
.episode-details a:hover,.episode-details a:active{
    color: #cf6d17;

}
.episode-details h2:after{
    display: none;
}
/* ----------------------------------------------- */
/* Login Page */
/* ----------------------------------------------- */

.section-login{
    margin: 0 auto;
    width: 400px;
    padding: 120px 40px 40px 40px;
    border-radius: 3px;
}

.section-login p{
    text-align: center;
    margin-bottom: 10px;
    color: #e67e22;
    font-weight: 400;
}
.section-login-logo{
    font-size: 140%;
}
.section-login p a{ 
    text-align: center;
    font-size: 80%;
    color: #bbb;
    letter-spacing: .5px;
    text-decoration: none;
    border-bottom: 1px solid #bbb; 
}
.section-login input[type=email],.section-login input[type=password]{
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
    border: 3px solid #DFD8D8;

}
.section-login input[type=submit]{
    display: block;
    color: #fff;
    width: 100%;
    background-color: #e67e22;
    border: 3px solid #e67e22;
    border-radius: 2px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    transition: opacity 0.4s;
    

}
.section-login input[type=submit]:hover,.section-login input[type=submit]:active{
   
    background-color: #cf6d17;
    border: 3px solid #cf6d17;
}
.singup-link{
    font-size: 80%;
    letter-spacing: .5px;
}
.singup-link a{
    font-size: 100% !important;

}
.login-sticky-line{
    border: 2px solid orange;
}

/* ----------------------------------------------- */
/* ORDERS */
/* ----------------------------------------------- */

.section-payment-page p{
    margin-bottom: 20px;
}
.section-payment-page h1{
    color: #e67e22;
}
.section-payment-page input[type=text],.section-payment-page select{
    border: 3px solid #DFD8D8;
}

.section-payment-page select{
    font-size: 80%;
}


.section-payment-page p input[type=submit]{

    background-color: #e67e22;
    border: 3px solid #e67e22;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

} 

/* ----------------------------------------------- */
/* ACCOUNTS */
/* ----------------------------------------------- */ 
.edit-account-label,.forgot-password-label{
    text-align: right;
    padding: 10px 10px;
    

}

.edit-account-field, .forgot-password-field{
    text-align: left;
    padding-right: 10px;
}
.edit-account-field input[type=email], .edit-account-field input[type=password], .forgot-password-field input[type=email]{
    padding: 10px 10px;
    font-size: 90%;
    border: 3px solid #f3f3f3;
    
}
.edit-account-submit,.forgot-password-submit{
    text-align: center;
    padding-top: 30px;
}

/* ----------------------------------------------- */
/* Callback */
/* ----------------------------------------------- */ 
.web-to-lead{
    padding-bottom: 18px;
}
.callback-fields input[type=text],
.callback-fields input[type=email],
.callback-fields select,
.callback-fields textarea{
    margin-bottom: 20px;
    padding: 10px 10px;
    font-size: 90%;
    border: 3px solid #f3f3f3;
}
.callback-fields select{
    width: 43%;
}
.callback-box{
    margin-left: 45px;
    margin-right: 45px;
}
.callback-fields textarea{
    resize: none;
    border: 3px solid #f3f3f3;
}
.callback-box-title{
    margin-top: 10px;
}

.callback-series-banner{
    height: auto !important;
}
/*.vertical-height-2{
    height: 45px;
    border: none;
}*/
/* ----------------------------------------------- */
/* SUBSCRIPTIONS */
/* ----------------------------------------------- */   

.section-subscriptions{
    /*height: 80vh;*/
    padding-bottom: 321px;


}
.subscription-table{
    /*border-top: 2px solid #DFD8D8;
    text-align: center;
        margin: auto;*/
        border-collapse: collapse;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;

}
.subscription-table, .subscription-table td,.subscription-table th{
    /*border-bottom: 2px solid #DFD8D8;
    border-right: 2px solid #DFD8D8;

    padding: 10px 10px;*/
    border: 2px solid #DFD8D8;
    padding: 10px 10px;

}

/*.subscription-table td:first-child,.subscription-table th:first-child{
    border-left: 2px solid #DFD8D8;
    width: 500px;
    overflow: hidden;
    display: inline-block;
    text-align: left;

}*/
.subscription-table td:first-child,.subscription-table th:first-child{
    width: 500px;
    text-align: left;


}
.subscription-table a:link,.subscription-table a:visited{
    color: #555;
    text-decoration: none;
}
.subscription-table a:active,.subscription-table a:hover{
    color: #e67e22; 
}




/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}