<header class="header">
        <nav>
            <div class="row">
                <%= link_to 'Salesforce Casts',root_path, class: 'logo logo-inner' %>
                

                <ul class="main-nav">
                

                 <% if user_signed_in? && current_user.admin? -%>
                    <li><%= link_to 'Dashboard', admin_dashboard_path %></li>
                    <li><%= link_to 'User', admin_users_path %></li>
                    <li><%= link_to 'New Series', new_series_path %></li>
                    <li><%= link_to 'Account', edit_user_registration_path %></li>
                    <li><%= link_to 'Logout',destroy_user_session_path, :method => :delete %></li>

                <% elsif user_signed_in? &&  !current_user.admin? %>

                    <li><%= link_to 'Subscriptions', subscriptions_series_index_path %></li>
                    <li><%= link_to 'Account', edit_user_registration_path %></li>
                    <li><%= link_to 'Logout',destroy_user_session_path, :method => :delete %></li>
            
                <% else -%>
                    <li><%= link_to 'Login', new_user_session_path %></li>
                    <li><%= link_to 'Sign up', new_user_registration_path,class:'btn btn-ghost' %></li>
                <% end -%>


                    
                </ul>
            </div>
        </nav>

        <div class="hero-text-box">
            <h1>Subscribe &nbsp;&nbsp;&amp;&nbsp;&nbsp; Enjoy your SFDC tv</h1>
            <%= link_to 'Browse', browse_series_index_path, class:'btn btn-full' %>
            <%= link_to 'Request Callback', request_callback_path, class:'btn btn-ghost' %>
           
        </div>
    </header>