<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Salesforce Casts</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>


	<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:100,300,400,300italic"%>
  
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js') %>
	<%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/public/analytics' %>		



<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if false %>
	<% if user_signed_in? -%>
		<%= link_to 'Subscriptions', subscriptions_series_index_path %>
		<%= link_to 'Account', edit_user_registration_path %>
		<%= link_to 'Logout',destroy_user_session_path, :method => :delete %>

	<% else -%>
		<%= link_to 'Login', new_user_session_path %>
		<%= link_to 'Sign up', new_user_registration_path %>
	<% end -%>
<% end %>

<%= yield %>

</body>
</html>
