<%= render 'innerpages_header' %>


<h1>	Dashboard</h1>

<table border="1">
	


<% @series.each do |series| %>
<tr>
	
    <td><%= series.id %></td>  
	<td><%= link_to series.title, series_admin_view_path(series)%></td>	
	


	<% if user_signed_in? && current_user.admin? -%>
                <td><%= link_to 'edit', edit_series_path(series) %></td>
                <td><%= link_to 'delete', series,method: :delete, data: { confirm: 'Are you sure?' } %></td>
                
                <% if series.publish == true%>
                    <td><%= link_to 'un-publish', unpublish_series_path(series), method: :post %></td>
                <% else %>    
                    <td><%= link_to 'publish', publish_series_path(series), method: :post %></td>
                <% end %>
                <td><%= link_to 'add episode', new_series_episode_path(series) %></td>
            <% end %>

</tr>
	
<% end %>

</table>
<%= render 'footer' %>

