




<%= render 'homepage_header' %>
<%= render 'homepage_recent_series' %>
<%= render 'homepage_about_trainer' %>

<% if false %>

<%= render 'homepage_testimonials' %>
<% end %>

<%= render 'footer' %>


