<%= tinymce_assets %>

<h1>Episodes#new</h1>
<p>Find me in app/views/episodes/new.html.erb</p>





<%= form_for @episode, url: {action: "create"} do |f| %>
	<% if @episode.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@episode.errors.count, "error") %> prevented this post from saving:</h2>
			<ul>
				<% @episode.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= f.label :episode_title %>
	<%= f.text_field :episode_title %><br>
	<br>
	<%= f.label :episode_description %>
	<%= f.text_area :episode_description, :class => "tinymce", :rows => 10, :cols => 20 %>
	<%= tinymce %>	
	
	<br>
	<br>
	<%= f.label :episode_video %>
	<%= f.text_area :episode_video %><br>
	<br>
	<%= f.label :episode_type %>
	
<%= f.select :episode_type, options_for_select([['Free', 'Free'], 
                                                     ['Paid', 'Paid']
                                                    
                                                     ]) %><br />

	
	<br>
	<%= f.label :episode_duration %>
	<%= f.text_field :episode_duration %><br>
	<br>
	<%= f.label :episode_order %>
	<%= f.text_field :episode_order %><br>
	<br>
	<%= f.label :tags %>
	<%= f.text_field :tags %><br>


	<%= f.submit %>
<% end %>