
<%= form_tag browse_series_index_path, remote: true, id: 'filter_difficulty_form', class: 'filter_difficulty'  do %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
<% [ 'Intermediate', 'Medium', 'Difficulty'].each do |filter_difficulty| %>
      <%= radio_button_tag 'filter_difficulty', filter_difficulty, params[:filter_difficulty] == filter_difficulty, class: 'filter_difficulty' %>
      <%= filter_difficulty.humanize %>
    <% end %>
<% end %>
	





<%= form_tag browse_series_index_path, remote: true, id: 'filter_module_form', class: 'filter_module'  do %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
<% [ 'Administration', 'Development', 'Intgeration'].each do |filter_module| %>
      <%= radio_button_tag 'filter_module', filter_module, @filter_module == filter_module %>
      <%= filter_module.humanize %>
    <% end %>
<% end %>





<%= form_tag browse_series_index_path, remote: true, id: 'filter_published_when_form', class: 'filter_published_when_form'  do %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
<% [ 'Last Week', 'Last Month','Last 6 Months', 'Last Year'].each do |filter_published_when_form| %>
      <%= radio_button_tag 'filter_published_when_form', filter_published_when_form, @filter_published_when_form == filter_published_when_form %>
      <%= filter_published_when_form.humanize %>
    <% end %>
<% end %>


