 <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><%= link_to 'Home', root_url %></li>

                        <li><%= link_to 'Series', browse_series_index_path %></li>
                        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                        <li><%= link_to 'Request Call Back', request_callback_path %></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href="https://facebook.com/kkteja"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="https://twitter.com/kkteja"><i class="ion-social-twitter"></i></a></li>
                        <!-- <li><a href="#"><i class="ion-social-googleplus"></i></a></li> -->
                        <!-- <li><a href="#"><i class="ion-social-instagram"></i></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>
                    Copyright &copy; 2015 by Salesforce Casts. All rights reserved.
                </p>
            </div>
        </footer>